body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card{
  border:2px solid black;
  padding: 30px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top:2%;
  border-radius: 10px;
}
.post{
  width: 100%;
  position: relative;
}
.post img{
  width: 100%;
  border-radius:5px;
}
.post p{
  font-family: cursive;
}
.userHead img{
  width:35px;
  border-radius:50%;
  vertical-align: top;
}
.username{
  padding: 30px;
  margin-top:-90px;
  vertical-align: top;
  font-size: 30px;
}
.footer span{
  text-align: center;
  vertical-align: top;
  font-size: 30px;
  padding:40px;
  padding-left: 35px;
}
.footer{
  padding: 10px;
  
}
.footer img{
  width: 40px;
}